{% extends "govuk_template.html" %}
{% block content %}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">
            <span class="heading-secondary">Country Register</span>
            Update this record
        </h1>


        <form method="post" action="/update-record/{{country}}">
            <div class="form-group">
                <label class="form-label-bold" for="country">country</label>
                <input class="form-control" id="country" name="country" type="text" value="{{country}}" readonly>
            </div>

            <div class="form-group">
                <label class="form-label-bold" for="name">name</label>
                <input class="form-control" id="name" name="name" type="text" value="{{name}}">
            </div>

            <div class="form-group">
                <label class="form-label-bold" for="official_name">official-name</label>
                <input class="form-control" id="official_name" name="official_name" type="text"
                       value="{{official_name}}">
            </div>

            <div class="form-group">
                <label class="form-label-bold" for="citizen_names">citizen-names</label>
                <input class="form-control" id="citizen_names" name="citizen_names" type="text"
                       value="{{citizen_names}}">
            </div>

            <div class="form-group">
                <label class="form-label-bold" for="start_date">start-date</label>
                <input class="form-control" id="start_date" name="start_date" type="text" value="{{start_date}}">
            </div>

            <div class="form-group">
                <label class="form-label-bold" for="end_date">end-date</label>
                <input class="form-control" id="end_date" name="end_date" type="text" value="{{end_date}}">
            </div>

            <div class="form-group">
                <label class="form-label-bold" for="text">text</label>
                <textarea class="form-control" id="text" name="text" >{{text}}</textarea>
            </div>

            <div class="form-group">
                <input name="submit" type="submit" value="Update this record" class="button">
            </div>
        </form>
    </div>
</div>


{% endblock %}

